<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>签约定期宝</title>
		<link rel="stylesheet" href="../../css/mui.min.css"/>
		<link rel="stylesheet" href="../../css/public.css"/>
		<link rel="stylesheet" href="../../css/style.css"/>
	</head>
	
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
		      	<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">定期宝</h1>
		    </div>
		</header>
		<div class="content_BOXall hb_cont">
			<div class="backbox_fo p_lr20px p_top10px p_down20px word_bg">
				<p class="hint_con fz_12 color_3" style="text-align: center;font-size: 15px;">“定期宝”存款业务协议书</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;甲方（申请人）自愿申请使用湖北银行借记卡办理乙方（湖北银行）“定期宝”存款业务，根据相关法律法规签订本协议并共同遵守。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;一、本业务是乙方为甲方在本人借记卡内新开立金额2万元以上的定期子账户提供的一项增值服务。签约该项服务，甲方需至少满足以下条件：</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（一）自签约定期子账户开立之时起至次日营业时间截止完成系统签约申请；</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（二）签约定期子账户金额不低于2万元，签约期限为指定期限产品；</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（三）签约定期子账户和签约借记卡不存在冻结等情况，且账户处于正常状态；</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（四）乙方需要甲方满足的其他条件。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;二、本业务自系统签约之日起生效，签约定期子账户支持多次提前支取，当定期子账户余额不足2万元或该笔定期到期后自动失效。本业务不提供解约服务。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;三、收益计算。本业务生效起点金额为签约定期子账户余额不低于2万元，即若甲方签约定期子账户余额达到2万元，则达到“定期宝”利息和增值收益发放条件。乙方按承诺的“定期宝”利率和增值收益率向甲方计付自签约之日起至到期日止的“定期宝”利息和增值收益。其中到期利息按存款当日乙方同档挂牌定期利率计付，提前支取利息按支取日央行同档基准利率计付。增值收益按乙方公布的增值收益率按季于当季末月21日支付。其中，首期增值收益按定期子账户签约之日至当季末月20日实际天数计付，到期日在当季末月20日（含）之前的，当季增值收益不予计付。具体增值收益率水平由乙方通过公开渠道发布，增值收益计算解释权归属乙方所有。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;四、本业务规则如有变更，乙方将通过官方网站于变更前45日进行公示。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;五、乙方有权随时终止本协议，终止原因包括但不限于：国家法律、法规、监管规定及相关金融政策的管制而影响本产品的存续；市场出现重大变化并影响到本产品正常运作。出现前述终止原因，“定期宝”签约增值服务视为终止，乙方无需另行通知甲方。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;六、本协议未尽事宜可依据国家法律法规，金融监管部门规章制度及乙方相关业务规定办理。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;七、在履行本协议过程中如发生争议，由双方协商解决；无法协商解决的，应向乙方所在地人民法院起诉。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;八、本协议自签订之日起生效，协议一式两联、甲乙双方各执一联。</p>
				<p class="hint_con color_3" style="font-size: 14px;padding-top: 20px;">本人已阅读并充分了解“定期宝”存款业务协议书（附后）的相关内容，愿意遵守协议的各项规则。</p>
			</div>
		</div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
	</body>
</html>